.pos {
  position: relative;

  &-fixed {
    position: fixed !important;
  }

  &-sticky {
    position: sticky !important;
  }

  &-lt {
    position: absolute;
    left: 0;
    top: 0;
  }

  &-lc {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-lb {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-ct {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }

  &-cc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-cb {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &-rt {
    position: absolute;
    right: 0;
    top: 0;
  }

  &-rc {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &-rb {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
