$white: #ffffff;
$blue: #108ee9;
$green: #04be02;
$green-lg: linear-gradient(to right, #04be02, #0d827c);
$yellow: #ffde48;
$yellow-lg: linear-gradient(to right, #eee1a6, #eeda8f);
$orange: #fa8d05;
$orange-lg: linear-gradient(to right, #ffde48, #fa8d05);
$red: #ff414d;
$black: #000000;
$c-33: #333333;
$c-99: #999999;
$c-dd: #dddddd;
$c-ee: #eeeeee;
$c-f5: #f5f5f5;
$active: #f5f6f7 !important;
